/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
    font-family: 'Poppins',
    sans-serif;
}
.bg-color-custom{
    background-color: #264653;
}
.pur-btn {
    background-color: #E76F51;
    border: 0;
    padding: 10px 46px;
    color: #fff;
    font: 16px;
    font-weight: 500;
    border-radius: 5px;
}
.gray{
    filter: grayscale(100%);
}
.heading{
    font-weight: 600;
    color: #000000;
    font-size: 48px;
}
.tagline{
    color: #E76F51;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
}
.bikes{
    margin-bottom: 120px;
}
.custom-hw{
    height: 478px;
    width: 322px;
}
.client{
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 52px;
}
.man{
    margin: 40px 86px 30px 86px;
}
.text-p{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400;
    text-align: center;
}
.star{
    color: #E77C40;
    text-align: center;
    margin-bottom: 15px;
}
.text-title{
    font-size: 14px;
    font-weight: 600;
    color: #23A6F0;
    text-align: center;
}
.banker{
    font-size: 14px;
    font-weight: 600;
    color: #252B42;
    text-align: center;
}
.faq{
    color: #0D0925;
    font-weight: 600;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 52px;
    text-align: center;
}
span{
    color: #E76F51;
}